<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
	<head>
		<meta charset="UTF">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<title></title>
	<link href="css/application.css" rel="stylesheet">
	<body>
		<div class="main-menu">
			<div class="sample" name="Home">
				<form v-if="!formSubmitted" @submit.prevent="formSubmitted=!formSubmitted">

					<div class="scroll" @scroll="onScroll" ref="rules">
						<p>Simple text example</p><p>Simple text example</p>
						<p>Simple text example</p><p>Simple text example</p>
						<p>Simple text example</p><p>Simple text example</p>
						<p>Simple text example</p><p>Simple text example</p>
						<p>Simple text example</p><p>Simple text example</p>
						<p>Simple text example</p><p>Simple text example</p>
						<p>Simple text example</p><p>Simple text example</p>
						<p>Simple text example</p><p>Simple text example</p>
					</div>
					<div class="form-control" v-if="scrolled">
						<div class="form-check-control">
							<label class="check-control">
								<input class="input-check-control" type="checkbox" v-model="commandFlags.accepted">
								Accepted
							</label>
						</div>
						<div class="form-check-control">
							<label class="check-control">
								<input class="input-check-control" type="checkbox" v-model="commandFlags.subscribe">
								Subscribe
							</label>
						</div>
						<div class="form-radio-control-block" v-show="commandFlags.subscribe">
							<div class="form-radio-control">
								<label class="radio-control">
									<input class="input-radio-control" type="radio" :value="subscribeOptions.post" v-model="subscribeOptions.selected">
										To post flyers
								</label>
							</div>
							<div class="form-radio-control">
								<label class="radio-control">
									<input class="input-radio-control" type="radio" :value="subscribeOptions.email" v-model="subscribeOptions.selected">
										To email flyers
								</label>
							</div>
						</div>
					</div>
					<button :disabled='!commandFlags.accepted'>Confirm</button>
				</form>

				<div class="result" v-else>
					<table>
						<tr>
							<td>Rules were accepted</td>
							<td>{{ commandFlags.accepted ? 'Yes' : 'No' }}</td>
						</tr>
						<tr>
							<td>Subscribed</td>
							<td>{{ commandFlags.subscribe ? 'Yes' : 'No' }}</td>
						</tr>
						<tr v-if="commandFlags.subscribe">
							<td>Receive news by</td>
							<td>{{ subscribeOptions.selected }}</td>
						</tr>
					</table>
				</div>

			</div>
		</div>
		<script src="js/vue.js"></script>
		<!--<script src="js/start.form.js"></script>-->
		<!--<script src="js/form 2.js"></script>-->
		<!--<script src="js/validation form.js"></script>-->
		<script src="js/scroll.js"></script>

	</body>
</html>
