<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
	<head>
		<meta charset="UTF">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<title></title>
	<link href="css/application.css" rel="stylesheet">
	<body>
		<div class="main-menu">
			<div class="sample" name="Home">
				<form v-if="!formSubmitted" @submit.prevent="setFormSubmitted()">
					<div>
						<label>Ip</label>
						<input type="text" v-model="ip">
					</div>
					<div>
						<label>Server</label>
						<input type="text" v-model="server">
					</div>
					<div>
						<label>Task</label>
						<input type="button"
							   value="+"
								@click="addTsk">
					</div>
					<div v-for="(task, key, index) in tasks"
						 :key="key"
						 :class="leader">
						<label @dblclick="removeTask(key)"
							   :for=`task-${index+1}`>Task {{ index + 1 }}</label>
						<input type="text"
							   v-model="tasks[key]"
							   :id=`task-${index+1}`
						@keyup.enter="setFormSubmitted()">
						<input type="radio" :value=`task-${index+1}` v-model="leader">{{key}}
					</div>
					<div>High priority </div>
					<button>Post data</button>
				</form>
				<div v-else="submittedForm($event)">
					<h3>Total info</h3>
					<table>
						<tr>
							<td>Server</td>
							<td>{{ serverInfo }}</td>
						</tr>
						<tr>
							<td>Tasks</td>
							<td>
								<ul>
									<li v-for="(task, index) in tasks">
										{{ task }}
									</li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<script src="js/vue.js"></script>
		<!--<script src="js/start.form.js"></script>-->
		<script src="js/form 2.js"></script>

	</body>
</html>
